body{
    margin: 0;
}

.header{
    background-color: black; 
    align-items: flex-start;
  }

div3{
 padding: 10px;  
 width: min-content;
 size: adjust 80%;
}


div2{
  size: adjust 70%;
}
